// mobile devices disable fixed background attachment and cover for background-size
@media (hover: none) and (pointer: coarse) {
    .home {
        background-size: 100vw auto;
        background-attachment: initial;
    }

}


@media screen and (min-width: 425px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 575px) {
    .footer .container .row {
        flex-flow: row nowrap;
    }
    
}

@media screen and (min-width: 768px) {
    html {
        font-size: 12px;
    }
    
}

@media screen and (min-width: 992px) {
    #main-nav {
        overflow: hidden;
    }

    .navbar-collapse ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 1vw;
    }
}