// mobile devices disable fixed background attachment and cover for background-size
@media (hover: none) and (pointer: coarse) {
    .home {
        background-size: 100vw auto;
        background-attachment: initial;
    }

    .social-media a {
        background: rgba(255, 255, 255, .5);
    }
}

@media screen and (min-width: 0px) {
    html {
        font-size: 10px;
        // font-size: 3vw;
    }

    .menu-content > #meat .card {
        max-width: 90vw;
    }
}

@media screen and (min-width: 375px) {
    .restaurant {
        font-size: 2rem;
    }

}

@media screen and (min-width: 425px) {
    html {
        font-size: 10px;
    }
}

@media screen and (min-width: 500px) {
    .menu-content > #meat .card {
        max-width: 40vw;
    }
}

@media screen and (min-width: 575px) {
    .footer .container .row {
        flex-flow: row nowrap;
    }

    .hours {
        font-family: "Georgia", serif;
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size: 12px;
    }
    
}

@media screen and (min-width: 992px) {
    #main-nav {
        overflow: hidden;
    }

    .navbar-collapse ul {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-evenly;
    }
    
    .menu-content > #meat .card {
        max-width: 30vw;
    }
}

@media screen and (min-width: 1024px) {
    html {
        font-size: 1vw;
    }
}