html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Verdana", "Century Gothic", "Open Sans", sans-serif !important;
  font-size: 1.5rem !important;
  overflow: hidden;
}

.preloader {
  height: 100vh;
  width: 100vw;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
  position: absolute;
  z-index: 1000;
  background: #ffca05 center url("images/logo/cover.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  z-index: 500;
}

#main-nav {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: black;
  font-family: "Muli", "Century Gothic", sans-serif;
  font-size: 2rem;
}

.nav-item {
  text-align: center;
}

.navbar-nav .nav-item .nav-link {
  color: #fff !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffca05 !important;
}

main > article {
  min-height: 100vh;
  width: 100%;
  padding: 10vh 1.5rem;
}

header h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.home {
  background: #000 center url("images/hero.jpg");
  background-attachment: fixed;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.home .content {
  min-height: 80vh;
}

.blockquote {
  width: 75%;
  margin: 0 auto;
  font-size: 1.5rem !important;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
}

cite a {
  color: #fff !important;
}

.see-menu {
  width: 30%;
  font-size: 1.5rem !important;
}

.social-media a {
  color: #415B80;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.social-media a:hover {
  color: #ffca05;
}

.tab-content > section:not(.active) {
  display: none !important;
}

.nav-pills {
  padding: 1rem;
}

.nav-pills .nav-item .nav-link {
  color: #000;
}

.nav-pills .nav-item .active {
  background: #415B80 !important;
}

.card-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
}

.price {
  float: right;
}

.price::before {
  content: "$";
}

.menu .card {
  margin-bottom: 0.5rem;
}

.menu img {
  height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.dropdown-item {
  font-size: 1.5rem;
}

.menu-content > section > .card {
  max-width: 30vw;
}

.about-img {
  height: 30%;
  margin-bottom: 1rem;
}

.restaurant {
  text-transform: uppercase;
  color: #ffca05;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.restaurant:hover {
  text-decoration: none;
  color: #fff !important;
}

.map {
  width: 100%;
  height: 100vh;
}

.popup {
  width: 100%;
  -webkit-transform: translate(-50%, 10px);
          transform: translate(-50%, 10px);
  text-align: center;
}

.hidden-popup {
  text-align: center;
}

.directions {
  background: #ffca05 !important;
  border: none !important;
  font-size: 1.5rem !important;
  margin: 5px;
}

.phone {
  color: #415B80;
}

.contact-btn {
  background: #ffca05 !important;
}

.hide-message {
  display: none !important;
}

.message-sent {
  margin: 1.5rem 0;
}

.required {
  font-weight: bold;
  color: red;
}

input {
  height: 4rem !important;
  font-size: 1.5rem !important;
}

textarea {
  height: 8rem !important;
  font-size: 1.5rem !important;
}

.contact button {
  font-size: 1.5rem;
}

.footer {
  padding: 1.5rem;
  background: #415B80;
  color: #fff;
  font-family: "Muli", "Century Gothic", sans-serif;
}

.footer-heading {
  font-weight: bold;
  text-transform: uppercase;
  color: #ffca05;
}

.contact-details {
  list-style-type: none;
  padding: 0;
}

.hours-type {
  text-transform: uppercase;
}

.footer .col {
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */