html {
  font-size: 2vw;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Verdana", "Century Gothic", "Open Sans", sans-serif !important;
  font-size: 1.5rem !important;
  overflow: hidden;
}

.preloader {
  width: 100%;
  height: 100vh;
  opacity: 0;
  -webkit-transition: .8s;
  transition: .8s;
  position: fixed;
  z-index: 1000;
  background: #ffca05 center url("images/logo/cover.png");
  background-size: 100%;
  background-repeat: no-repeat;
}

main {
  opacity: 0;
  -webkit-transition: 1s;
  transition: 1s;
  position: absolute;
  z-index: 500;
}

#main-nav {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: black;
  font-family: "Muli", "Century Gothic", sans-serif;
  font-size: 2rem;
}

.nav-item {
  text-align: center;
}

.navbar-nav .nav-item .nav-link {
  color: #fff !important;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.navbar-nav .nav-item .nav-link:hover {
  color: #ffca05 !important;
}

main > article {
  min-height: 100vh;
  width: 100%;
  padding: 10vh 1.5rem;
}

header h2 {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
}

.home {
  background: #000 center url("images/hero.jpg");
  background-attachment: fixed;
  color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
}

.home .content {
  min-height: 80vh;
}

.blockquote {
  width: 75%;
  margin: 0 auto;
  font-size: 1.5rem !important;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  padding: 1.5rem;
}

.blockquote i {
  color: #d32323;
}

.blockquote a {
  color: #fff;
}

.blockquote a:hover {
  color: #fff;
}

.see-menu {
  width: 30%;
  font-size: 1.5rem !important;
}

.social-media a {
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  background: rgba(128, 128, 128, 0.75);
  border-radius: 5px;
  border: 1px solid black;
  padding: 1rem;
  transition: 0.3s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.social-media a:hover {
  background: black;
}

.social-media a:active {
  background: #000;
}

.social-media a:hover {
  color: #ffca05;
}

.tab-content > section:not(.active) {
  display: none !important;
}

.nav-pills {
  padding: 1rem;
}

.nav-pills .nav-item .nav-link {
  color: #000;
}

.nav-pills .nav-item .active {
  background: #000 !important;
}

.card-title {
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  margin-top: 0.5rem;
}

.dish {
  float: left;
  width: 70%;
}

.price {
  float: right;
}

.price::before {
  content: "$";
}

.menu .card {
  margin-bottom: 0.5rem;
}

.multi .card {
  max-width: 45vw;
  min-width: 45vw;
}

.menu img {
  height: 35vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.dropdown-item {
  font-size: 1.5rem;
}

.about-img {
  height: 30%;
  margin-bottom: 1rem;
}

.restaurant {
  text-transform: uppercase;
  color: #ffca05;
  font-weight: bold;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.restaurant:hover {
  text-decoration: none;
  color: #fff !important;
}

.location {
  padding: 0;
}

.location .content {
  padding: 0;
}

.location header {
  margin-bottom: 1.5rem;
}

.map {
  height: 90vh;
}

.popup {
  width: 50vw;
  height: 18rem;
  -webkit-transform: translate(-25vw, -20rem);
          transform: translate(-25vw, -20rem);
}

.close-popup {
  margin-top: .5rem;
  width: 15%;
  margin-left: 85%;
}

.directions {
  background: #ffca05 !important;
  border: none !important;
  font-size: 1.5rem !important;
  margin: 5px;
}

.phone {
  color: #000;
}

.ol-attribution {
  font-size: .75rem;
}

.ol-control button {
  background: rgba(0, 0, 0, 0.5) !important;
}

.contact-btn {
  background: #ffca05 !important;
  border: none !important;
}

.hide-message {
  display: none !important;
}

.message-sent {
  margin: 1.5rem 0;
}

.required {
  font-weight: bold;
  color: red;
}

input {
  height: 4rem !important;
  font-size: 1.5rem !important;
}

textarea {
  height: 8rem !important;
  font-size: 1.5rem !important;
}

.contact button {
  font-size: 1.5rem;
}

.footer {
  padding: 1.5rem;
  background: #000;
  color: #fff;
  font-family: "Muli", "Century Gothic", sans-serif;
}

.footer-heading {
  font-weight: bold;
  text-transform: uppercase;
  color: #ffca05;
}

.contact-details {
  list-style-type: none;
  padding: 0;
}

.contact-details i {
  padding-right: 1rem;
}

.contact-details li {
  margin-bottom: 1rem;
}

.hours-type {
  text-transform: uppercase;
}

.hours {
  margin-bottom: 1rem;
  letter-spacing: 1.5px;
}

.footer .col {
  font-size: 1.5rem;
}
/*# sourceMappingURL=style.css.map */