/*
    Table of Contents
1. variables, mixins
2. each section and header
3. main navbar
4. home
5. menu
6. about
7. location
8. contact
9. footer
*/


$main-font: 'Verdana', 'Century Gothic', 'Open Sans', sans-serif;
$nav-font: 'Muli', 'Century Gothic', sans-serif;

$font-size: 1.5rem;
$header-size: 2rem;
$quote-size: 1.5rem;
$logo-size: 2rem;
$header-margin: .5rem;
$header-padding: 1rem;


$main-padding: 1.5rem;
$sm-padding: 1rem;

$text-primary: #000;
$text-secondary: #fff;
$links-primary: #fff;
$links-secondary: #ffca05;
$bg-primary: #000;
$buttons-primary: #ffca05;
$theme-color: #ffca05;

$transition: .3s;


$home-color: #fff;
$nav-color: #fff;
$nav-hover: #ffca05;
$icon-color: #415B80;
$menu-bg: #415B80;
$icon-hover: #ffca05;
$footer-bg: #415B80;
$footer-color: #fff;
$yelp-color: #d32323;

@mixin homeBgStyle {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}


html {
    font-size: 2vw;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: $main-font !important;
    font-size: $font-size !important;
}


main {
    transition: .1s;
    position: absolute;
    z-index: 500;
}

//lazy load these 
.about, .footer, .location, .contact {
    display: none;
}

.show-section {
    display: block !important;
}

//-----------------------EACH SECTION AND HEADER---------------------
main > article {
    min-height: 100vh;
    width: 100%;
    padding: 10vh $main-padding;
}

header h2 {
    text-align: center;
    font-weight: bold;
    font-size: $header-size;
}



//override ios style for phone numbers
*[x-apple-data-detectors] {
    color: inherit !important;
}


//-----------------------MAIN NAVBAR---------------------
#main-nav {
    transition: $transition;
    background: rgba(0, 0, 0, 1);
    font-family: $nav-font;
    font-size: $header-size;
}

.nav-item {
    text-align: center;
}

.navbar-nav .nav-item .nav-link {
    color: $links-primary !important;
    transition: $transition;
}


.navbar-nav .nav-item .nav-link:hover {
    color: $links-secondary !important;
}


//-----------------------EACH SECTION AND HEADER---------------------
main > article {
    min-height: 100vh;
    width: 100%;
    padding: 10vh $main-padding;
}

header h2 {
    text-align: center;
    font-weight: bold;
    font-size: $header-size;
}

//-----------------------HOME---------------------
.home {
    background: #000 center url('images/placeholder.webp');
    color: $home-color;
    transition: .5s;
    @include homeBgStyle();
}

.replace-placeholder-ios {
    background: #000 center url('images/front.jpg');
    background-size: cover;
    background-attachment: initial !important;
}

.replace-placeholder {
    background: #000 center url('images/hero.webp');
    @include homeBgStyle();
}

.home .content {
    min-height: 80vh;
}

.blockquote {
    width: 75%;
    margin: 0 auto;
    font-size: $quote-size !important;
    text-align: center;
    background: rgba(0,0,0, .5);
    padding: $main-padding;
}

.blockquote i {
    color: $yelp-color;
}

.blockquote a {
    color: $text-secondary;
}

.blockquote a:hover {
    color: $text-secondary;
}

.see-menu {
    width: 30%;
    font-size: $font-size !important;
}

.social-media a {
    color: $links-primary;
    transition: $transition;
    background: rgba(128, 128, 128, .75);
    border-radius: 5px;
    border: 1px solid black;
    padding: $sm-padding;
    transition: $transition;
    box-sizing: border-box;
}

.social-media a:hover {
    background: rgba(0,0,0,1);
}

.social-media a:active {
    background: $bg-primary;
}

.social-media a:hover {
    color: $links-secondary;
}

//-----------------------MENU---------------------

//remove large spacing caused by bootstrap
.tab-content > section:not(.active) {
    display: none !important;
}

.nav-pills {
    padding: $header-padding;
}

.nav-pills .nav-item .nav-link {
    color: $text-primary;
}

.nav-pills .nav-item .active {
    background: $bg-primary !important;
}


.menu-card-title {
    font-size: $header-size;
    text-align: center;
    font-weight: bold;
    margin-bottom: 0;
    // margin-top: $header-margin;
    margin-top: 1rem;
}

.menu-card-content ul {
    padding-top: 0;
}

.dish {
    float: left;
    width: 70%;
}


.price {
    float: right;
}

.price::before {
    content: "$";
}

.menu .card {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    border-top: none;
    border-left: none;
    border-right: none;
}

.img-wrapper {
    width: 20vw;
    padding: 1rem 0;
}

.menu-card-img {
    width: 70%;
    object-fit: cover;
}


.dropdown-item {
    font-size: $font-size;
}

//-----------------------ABOUT---------------------

.about-img {
    height: 30%;
    margin-bottom: 1rem;
}


.restaurant {
    text-transform: uppercase;
    color: $theme-color;
    font-weight: bold;
    transition: $transition;
    // font-size: 1.5rem;
}

.restaurant:hover {
    text-decoration: none;
    color: $links-primary !important;
}

//-----------------------LOCATION---------------------

.location {
    padding: 0;
}

.location .content {
    padding: 0;
}

.location header {
    margin-bottom: $main-padding;
}
.map {
    height: 90vh;
}

.popup {
    width: 50vw;
    height: 18rem;
    transform: translate(-25vw, -20rem);
}

.close-popup {
    margin-top: .5rem;
    width: 15%;
    margin-left: 85%;
}

.map-name {
    font-weight: bold;
    font-size: inherit;
}

.directions {
    background: $buttons-primary !important;
    border: none !important;
    font-size: $font-size !important;
    margin: 5px;
}

.phone {
    color: $bg-primary;
}

.ol-attribution {
    font-size: .75rem;
}

.ol-control button {
    background: rgba(0,0,0, .5) !important;
}

//-----------------------CONTACT---------------------

.contact-btn {
    background: $buttons-primary !important;
    border: none !important;
}

.hide-message {
    display: none !important;
}

.message-sent {
    margin: $main-padding 0;
}


.required {
    font-weight: bold;
    color: rgba(256, 0, 0, 1);
}


input {
    height: 4rem !important;
    font-size: $font-size !important;
}

textarea {
    height: 8rem !important;
    font-size: $font-size !important;
}

.contact button {
    font-size: $font-size;
}


//-----------------------FOOTER---------------------

.footer {
    padding: $main-padding;
    background: $bg-primary;
    color: $text-secondary;
    font-family: $nav-font;
}

.footer-heading {
    font-weight: bold;
    text-transform: uppercase;
    color: $theme-color;
}

.contact-details {
    list-style-type: none;
    padding: 0;
}

.contact-details i {
    padding-right: 1rem;
}

.contact-details li {
    margin-bottom: 1rem;
}

.hours-type {
    text-transform: uppercase;
}

.hours {
    margin-bottom: 1rem;
    letter-spacing: 1.5px;
}

.footer .col {
    font-size: 1.5rem;
}
